@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
.container{
	margin: 100px auto;
	border-radius: 5px;
	text-align: center;
}

.container p {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 50px;
	margin: 20px auto;
}

.login {
	margin: 20px auto;
	margin-right: 33px;
	
}

label{
	font-size: 20px;
}

#userID, #pwd{
	width: 350px;
	height: 50px;
	border:1px solid #ccc;
}

#loginbutton, #button{
	border: 1px solid #ccc;
	height: 40px;
	width: 90px;
	border-radius: 5px;
}

