@charset "UTF-8";


*{
    box-sizing: border-box; /*전체에 박스사이징*/
    outline: none; /*focus 했을때 테두리 나오게 */
}



.member{
	width: 400px;
	margin: auto; /*중앙 정렬*/
	padding: 0 20px;
	margin-bottom: 20px;
}

.member .field{
	margin: 5px 0; /*상하로 띄워주기*/
}

.member b{

	 display: block; /*수직 정렬하기*/
	 margin-bottom:5px;
}

.member input:not(input[type=radio]), .member select{
	border: 1px solid #dadada; 
	padding: 15px;
	width: 100%;
	margin-bottom: 5px;
}


.member #idCheck{
	background-color: #2db400;
	color: white;
	border:none;
}

.member input[type=submit], .member input[type=button]{
	background-color: #2db400;
	color: #fff
}

.member input:focus, .member select:focus{
	border: 1px solid #2db400;
}

.field.gender div{

	padding: 15px 5px;
	
}

/*input 중 radio 는 width 가 100%면 안되니까 */






