@charset "UTF-8";

body{
	background-image:url("https://img-kyowontour.kyowontour.com/hp/202302/20230215132846714lkmyfgnlwawyyia.jpg");
	background-size: cover;
	background-position: 10% -90px;
	background-repeat: no-repeat;
}


